@font-face {
  font-family: 'Whitney';
  src: url('./assets/fonts/whitneybook.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Whitney';
  src: url('./assets/fonts/whitneybookitalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Whitney';
  src: url('./assets/fonts/whitneymedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Whitney';
  src: url('./assets/fonts/whitneymediumitalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Whitney';
  src: url('./assets/fonts/whitneysemibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Whitney';
  src: url('./assets/fonts/WhitneySemiboldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Whitney';
  src: url('./assets/fonts/whitneybold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Whitney';
  src: url('./assets/fonts/whitneylight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Whitney';
  src: url('./assets/fonts/whitneylightitalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Add Whitney as the default font for the app */
body {
  font-family: 'Whitney', Arial, sans-serif;
}

/* Tailwind base, components, utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

.typewriter-cursor {
  display: inline-block;
  width: 1ch;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}
